/*
.clock {
	margin-top: 150px;
#	margin-right: 200px;
	transform : scale(6.3);
    font-weight: bold;
}

.date {
	font-size : 100%;
	margin-top: -10px;
    padding-right: 10px;
}

.MMM-OLPrayerTime {
	margin-top: 525px;
	margin-left: 565px;
	transform : scale(5.1);
}

.MMM-OLPrayerTime .tickercontent {
    margin-top: -50px;
	font-size : 85%;
	margin-left: 125px;
}
*/
